<!-- <section
    class="py-5"
    style='
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/<%= heroRooftop.name %>.jpg") no-repeat center center fixed !important;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-color: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 49px);
    '
> -->
    <div class="container w-50">
        <div class="text-center">
            <a id="brand" class="hero-jumbotron__brand" href="/">Roofview</a>
        </div>

        <div class="mb-3">
            <div class="text-center font-weight-bold" style="color: skyblue; font-size:1.5em; text-shadow: 2px 2px 2px #000;">1000+ rooftop places around the world</div>
            <div class="text-center text-white font-weight-bold font-italic">for you to review and choose from</div>
        </div>

        <form action="/rooftops" method="GET" class="input-group form-inline my-2 my-lg-0">
            <div class="input-group w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white border-0 font-weight-bold">Search</span>
                </div>
                <input id="searchBar" name="search" class="form-control border-0" type="search" placeholder="rooftop name, city, county, state, country" aria-label="Search" />
                <button class="input-group-append btn btn-secondary my-2 my-sm-0" type="submit">
                    <i class="fa fa-search mt-1"></i></button>
                </button>

            </div>

        </form>

        <div style="position: absolute; bottom: 10px; left: 50%;">
            <div class="text-center " style="position: relative; left: -50%">
                <a href="/rooftops/<%= heroRooftop.id %>" class="text-white" style="text-decoration: none !important;"><%= heroRooftop.name %></a>
            </div>
            
        </div>
    

    </div>
</div>
