<% if (typeof home != 'undefined') { %>
<div style='
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/<%= heroRooftop.name %>.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    height: 100vh;'
>
<% } %>

<nav id="navBar" class="navbar navbar-expand-lg navbar-dark <%= typeof home == 'undefined' ? 'fixed-top' : '' %>"
    style="background-color: <%= typeof home != 'undefined' ? 'rgba(0,0,0,0)' : '#343a40' %>"
>
    <div class="container">
        <% if (typeof home == 'undefined') { %>
            <a id="brand" class="navbar-brand p-0" href="/">Roofview</a>
        <% } %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <% if (typeof home == 'undefined') { %>
                <ul class="navbar-nav mr-auto">
                    <li>
                        <form action="/rooftops" method="GET" class="input-group form-inline my-2 my-lg-1 pl-md-5">
                            <div class="input-group w-100">
                                <input id="searchBar" name="search" class="form-control border-0" type="search" placeholder="rooftop name, city, county, state, country" aria-label="Search" />
                                <button class="input-group-append btn btn-light my-2 my-sm-0" type="submit">
                                    <i class="fa fa-search mt-1"></i></button>
                                </button>
                
                            </div>
                        </form>
                    </li>
                </ul>
    


            <% } %>


            <ul class="navbar-nav ml-auto">
                <% if (!currentUser) { %>
                    <li id="login" class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li id="signup" class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <% } else { %>
                        <li id="user" class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user mr-2"></i>
                                <%= `${currentUser.firstName} ${currentUser.lastName[0]}.` || currentUser.username %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    <% } %>
            </ul>
        </div>
    </div>
</nav>