<div>
    <% for (let i = 0; i < rating; i++) {%>
    <i class="fas fa-star text-warning"></i>
    <% } %> <% for (let i = 0; i < 5 - rating; i++) {%>
    <i class="far fa-star text-warning"></i>
    <% } %>
</div>