<%- include("partials/header") %>

<div class="container mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-10 col-md-9 col-lg-8">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h1 class="text-center">Add New Bar</h1>
                    <p class="text-muted"><small>Fields marked * are required</small></p>
                    <form action="/bars" method="POST">
                        <div class="form-group">
                            <label>Bar Name*</label>
                            <input type="text" class="form-control" name="name" id="barName" required>
                        </div>
                        <div class="form-group">
                            <label for="imageURL">Image URL*</label>
                            <input type="text" class="form-control" name="image" id="imageURL" required>
                        </div>
                        <div class="form-group">
                            <label for="desc">Description*</label>
                            <textarea class="form-control" name="desc" id="desc" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="location">Address*</label>
                            <input class="form-control" type="text" name="location" id="location" placeholder="230 Fifth Avenue, New York, NY" required>
                        </div>

                        <div class="form-group">
                            <label>How expensive is this bar?*</label>
                            <select class="form-control" name="price" required>
                                <option value="$">$</option>
                                <option value="$$">$$</option>
                                <option value="$$$">$$$</option>
                                <option value="$$$$">$$$$</option>
                                <option value="$$$$$">$$$$$</option>
                            </select>
                        </div>
                        <button class="btn btn-info btn-block mb-2">Submit</button>
                    </form>
                    <a href="/bars" class="text-info">Go back</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<%- include("partials/footer") %>