<%- include("partials/header") %>


<div class="container mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-7 col-md-6 col-lg-5">
            <div class="card shadow border-0">
                <div class="card-body">
                    <h1 class="text-center">Sign Up</h1>
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <button class="btn btn-info btn-block">Sign Up</button>
                    </form>
                    <div class="mt-3 text-muted text-center">
                        <small>
                            Have an account? 
                            <a href="/login">Login</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<%- include("partials/footer") %>